<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<form [formGroup]="pravljenjeAkcije">
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
					</div>
					<input type="date" class="form-control" formControlName="odKad">
				</div>

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
					</div>
					<input type="date" class="form-control" formControlName="doKad">
				</div>

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-info"></i> </span>
					</div>
					<input type="text" class="form-control" placeholder="Unesite opis" formControlName="tekst">
				</div>

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-percent"></i> </span>
					</div>
					<input type="number" class="form-control" placeholder="Unesite procenat popusta" min="1" max="100" formControlName="procenat">
				</div>

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-check"></i> </span>
					</div>
					<select class="form-control" name="odabraniArtikli" formControlName="artikliNaAkciji" [ngModel]="odabraniArtikli" multiple>
						<option selected=""> Izaberite artikle za akciju</option>
						<option *ngFor="let artikal of artikliProdavca" [ngValue]="artikal">{{ artikal.naziv }}</option>
					</select>
				</div>

                

				<div class="form-group">
					<button type="submit" class="btn btn-primary  btn-block" (click)="kreirajAkciju()">  Kreiraj akciju  </button>
				</div>                                                                
			</form>
		</article>
	</div>
</div>